<div class="doctorPage">
  <div class="nav">
    <h2>Doctor</h2>
    <app-button (click)="onClickHome()">Home</app-button>
    <app-button (click)="onClickMsg()">Messages</app-button>
  </div>

  <div class="content">
    <div *ngIf="isHomeClicked">
      <h2>Nurses</h2>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Change Request</th>
            <th>View Request</th>
            <th>Remind</th>
          </tr>
        </thead>
        <tbody *ngFor="let nurse of nurseData">
          <tr>
            <td>{{ nurse.name }}</td>
            <td>{{ nurse.email }}</td>
            <td><app-button>Change Request</app-button></td>
            <td><app-button>View request</app-button></td>
            <td><app-button>Remind</app-button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="isMsgClicked">
      <h2>Messages</h2>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>View messages</th>
          </tr>
        </thead>
        <tbody *ngFor="let nurse of nurseData">
          <tr>
            <td>{{ nurse.name }}</td>
            <td><app-button>View messages</app-button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
