<div class="nursePage">
    <div class="nav">
      <h2>Nurse</h2>
      <app-button (click)="onClickHome()">Home</app-button>
    </div>
  
    <div class="content">
      <div *ngIf="isHomeClicked">
        <h2>You are appointed to</h2>
  
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Domain</th>
              <th>Email</th>
              <th>Change Request</th>
            </tr>
          </thead>
          <tbody *ngFor="let doc of docData">
            <tr>
              <td>{{ doc.name }}</td>
              <td>{{ doc.domain }}</td>
              <td>{{ doc.email }}</td>
              <td><app-button>Change Request</app-button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>