<div class="main" [ngClass]="isAddClicked || isEditClicked ? 'blur' : 'unblur'">
  <div class="nav">
    <h1>Poke Admin</h1>
    <mat-icon>power_settings_new</mat-icon>
  </div>

  <div class="addPokemon">
    <app-button (click)="onClickAdd()">Add Pokemon</app-button>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Level</th>
          <th>Type</th>
          <th>Created On</th>
          <th>Updated On</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of pokeData | paginate: { itemsPerPage: count, currentPage: p }">
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.level }}</td>
          <td>{{ item.type.name }}</td>
          <td>{{ item.createdOn! | dateModify }}</td>
          <td>{{ item.updatedOn! | dateModify }}</td>
          <td><app-button (click)="onClickUpdate(item)">Edit</app-button></td>
          <td>
            <app-button (click)="onClickDelete(item.id)">Delete</app-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="paginator">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

<div
    *ngIf="isAddClicked || isEditClicked"
    class="popUp"
    [ngClass]="isAddClicked || isEditClicked ? 'unblur' : 'blur'">
    <app-popup (emitter)="addUpdate($event)"></app-popup>
</div>
