.nav {
  display: flex;
  justify-content: space-between;
  border: thin solid #3f51b5;
  background-color: #3f51b5;
  padding: 0.5rem;
  color: white;

  h1 {
    margin: 0;
  }
}

.addPokemon {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: thin solid black;
  text-align: center;
  padding: 1rem;
}

.popUp {
    position: absolute;
    right: 40vw;
    bottom: 45vh;
}

.blur{
    filter: blur(3px);
    z-index: -1;
}

.unblur{
    filter: blur(0px);
    z-index: 2;
}

.paginator{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
