<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <app-input
    formControlName="name"
    [type]="text"
    [placeholder]="name"
  ></app-input>
  <span class="errorMsg" *ngIf = "Name!.invalid && Name!.touched">Name is not valid</span>

  <app-input *ngIf="dropDownLabel === 'Add nurses'"
    formControlName="domain"
    [type]="text"
    [placeholder]="domain"
  ></app-input>
  <span class="errorMsg" *ngIf = "Domain!.invalid && Domain!.touched">Domain is not valid</span>

  <app-input
    formControlName="email"
    [type]="email"
    [placeholder]="email"
  ></app-input>
  <span class="errorMsg" *ngIf = "Email!.invalid && Email!.touched">Email is not valid</span>

  <mat-form-field appearance="fill">
    <mat-label>{{ dropDownLabel }}</mat-label>

    <div *ngIf="dropDownLabel === 'Add nurses'">
      <mat-select multiple formControlName="nurses">
        <mat-option *ngFor="let item of dropDownData" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </div>

    <div *ngIf="dropDownLabel === 'Add doctor'">
      <mat-select formControlName="report">
        <mat-option *ngFor="let item of dropDownData" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field>
  <app-button>Save</app-button>
</form>
