.nav{
    display: flex;
    justify-content: space-between;
    border: thin solid rgb(41, 96, 214);
    background-color: rgb(41, 96, 214);
    padding: 0.5rem;
    color: white;

    h1{
        margin: 0;;
    }
}

.addPokemon{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}