<div class="adminPage">
  <div class="nav">
    <h2>Admin</h2>
    <app-button (click)="onClickDoc()">Doctors</app-button>
    <app-button (click)="onClickNurse()">Nurses</app-button>
    <app-button (click)="onClickRequest()">Requests</app-button>
    <app-button (click)="onClickNotify()">Notifications</app-button>
  </div>

  <div class="content" *ngIf="isDocClicked">
    <div>
      <div class="add">
        <h2>Doctors</h2>
        <app-button (click)="onClickAdd()">Add Doctor</app-button>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Domain</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let doc of doctorData">
          <tr>
            <td>{{ doc.name }}</td>
            <td>{{ doc.domain }}</td>
            <td>{{ doc.email }}</td>
            <td><app-button (click)="onClickEdit()">Edit</app-button></td>
            <td><app-button>Delete</app-button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="content" *ngIf="isNurseClicked">
    <div>
      <div class="add">
        <h2>Nurses</h2>
        <app-button (click)="onClickAdd()">Add Nurse</app-button>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Reporting</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let nurse of nurseData">
          <tr>
            <td>{{ nurse.name }}</td>
            <td>{{ nurse.email }}</td>
            <td>{{ nurse.report }}</td>
            <td><app-button (click)="onClickEdit()">Edit</app-button></td>
            <td><app-button>Delete</app-button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="content" *ngIf="isRequestClicked">
    <div>
      <div class="add">
        <h2>Requests</h2>
      </div>
      <table>
        <thead>
          <tr>
            <th>Requests subject</th>
            <th>Submitted by</th>
            <th>Approve</th>
            <th>Reject</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Change of nurse</td>
            <td>Doc 1</td>
            <td><app-button>Approve</app-button></td>
            <td><app-button>Reject</app-button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="content" *ngIf="isNotifyClicked">
    <div>
      <div class="add">
        <h2>Notifications</h2>
      </div>
      <table>
        <thead>
          <tr>
            <th>Notification</th>
            <th>From</th>
            <th>Done</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Reminded you to approve the request</td>
            <td>Doc 1</td>
            <td><app-button>Mark as read</app-button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="isAddClicked || isEditClicked" class="popUp">
  <div *ngIf="isDocClicked">
    <app-update-popup [dropDownData]="nurseData" [dropDownLabel]="nurseLabel"></app-update-popup>
  </div>

  <div *ngIf="isNurseClicked">
    <app-update-popup [dropDownData]="doctorData" [dropDownLabel]="docLabel"></app-update-popup>
  </div>


</div>
